.text-primary-rosewhite { color: #E4D6DA; } 
.text-secondary-rosewhite { color: #D0C0C5; } 
.text-light-rosewhite { color: #F2E9EC; } 
.text-dark-rosewhite { color: #B8A1A7; }

.text-primary-purple { color: #8F788D; } 
.text-secondary-purple { color: #7D667B; } 
.text-light-purple { color: #B3A0B5; } 
.text-dark-purple { color: #6D5363; }

.text-primary-violet { color: #D180AC; } 
.text-secondary-violet { color: #BB7299; } 
.text-light-violet { color: #E6A7C5; } 
.text-dark-violet { color: #A15D84; }

.text-primary-mutedviolet { color: #BD99A2; } 
.text-secondary-mutedviolet { color: #A7848D; } 
.text-light-mutedviolet { color: #D3B7BE; } 
.text-dark-mutedviolet { color: #8F6E76; }


.text-primary-red { color: #ff4343; } 
.text-secondary-red { color: #ff3f3f; } 
.text-light-red { color: #ff9e9e; } 
.text-dark-red { color: #bf2727; }

.text-primary-blue { color: #2299c5; } 
.text-secondary-blue { color: #226d88; } 
.text-light-blue { color: #6fd5fa; } 
.text-dark-blue { color: #1A4F6E; }

.text-primary-green { color: #69fa7c; }
.text-secondary-green { color: #1fac32; } 
.text-light-green { color: #b1ffbc; } 
.text-dark-green { color: #1d6d28; }
